/* =====  Start Media Queries Section  ===== */
@media only screen and (max-width: 1400px) {
  .sidebar-nav .nav-link {
    padding: 8px !important;
    gap: 12px !important;
    font-size: 14px !important;
  }
  .logout {
    gap: 12px !important;
    left: 15px !important;
    bottom: 15px !important;
    font-size: 14px !important;
  }

  /*?  B - Width >= 1400px   xxl :- (Very large Desktops)  ?*/
}

@media only screen and (max-width: 1200px) {
  .side-bar .logo {
    padding: 40px 30px 30px 20px !important;
  }
  .side-bar .logo img {
    width: 130px !important;
    height:auto !important;
  }
  .sidebar-nav {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .sidebar-nav .nav-link {
    gap: 8px !important;
  }

  /*?  B - 1200px to 1400px   xl :- (Large Desktops)  ?*/
}

@media only screen and (max-width: 992px) {
    .side-bar{
        position: fixed !important;
        left: 0 !important;
        z-index: 3 !important;
        width: 40%;
        box-shadow: 1px 2px 10px rgb(129, 125, 125);
        display: none;
    }
    .try-venus-second-part img {
  width: 70% !important;
  height: 200px !important;
  
}
  /*?  B - 992px to 1200px   lg :- (Desktops, Laptops, Large Tablets)  ?*/
}

@media only screen and (max-width: 768px) {
  .greeting p{
font-size: 14px !important;
}
.greeting h1{
font-size: 27px !important;
}

.search-input {
    height: 40px !important;
    padding-left: 40px !important;
    flex: auto !important;
    width: auto !important;
  }
.search-input::placeholder{
font-size: 14px !important;
}

.search-icon {
  height: 13px;
  width: 13px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-40%);
    color: #888;
}
/* ==main layout==  */
.small-data{
  padding: 10px 15px;
  flex-direction: column;
  align-items: start !important;
}
.small-data p{
font-size: 12px !important;
}
.small-data h5{
font-size: 22px !important;
}

.customer-icon-div{
width: 45px !important;
height: 45px !important;
}
.new-clients p{
font-size: 14px !important;
}
.new-clients h6{
font-size: 16px !important;
}
.new-clients .graph-img{
  top: 50%;
  transform: translateY(-60%);
}
.earning-icon-div{
width: 45px !important;
height: 45px !important;
}

.activity p{
font-size: 14px !important;
}
.try-venus-first-part h2 {
  font-size: 30px !important;
  margin-bottom: 15px !important;
}
.try-venus-first-part p {
  font-size: 15px !important;
}

.try-venus-second-part img {
  width: 80% !important;
  aspect-ratio: 1;
  margin-bottom: 20px;
}


  /*?  768px to 992px   md :- (Tablets and small desktops)  ?*/
}

@media only screen and (max-width: 576px) {
    .sidebar-nav .nav-link {
    padding: 6px !important;
    font-size: 11px !important;
  }
  .logout {
    gap: 8px !important;
    font-size: 11px !important;
  }
   .side-bar .logo {
    padding: 30px 20px 20px 15px !important;
  }
  .side-bar .logo img {
    width: 100px !important;
    height:auto !important;
  }
  .sidebar-nav {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .sidebar-nav .nav-link {
    gap: 8px !important;
  }
    .greeting p{
font-size: 12px !important;
}
.greeting h1{
font-size: 23px !important;
}
/* ----------------------Main Tab 2 css started --------------------  */
.balance-chart{
  padding: 20px !important;
}
.balance-chart .header h3{
font-size: 20px !important;
}
.balance-chart .header span{
font-size: 13px !important;
display: block;
}
.balance-chart .header select{
font-size: 12px !important;
}
  /*?  B - 576px to 768px   sm :- (Landscape and Portrait mobiles)  ?*/
}

/* =====  End Media Queries Section  ===== */


