@import url(mediaqueries.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

/* =====  Font Family  ===== */

@font-face {
  font-family: "dms-thin";
  src: url(../fonts/DM_Sans/DMSans-Thin.ttf);

  /*?  Font Weight 100  ?*/
}

@font-face {
  font-family: "dms-extralight";
  src: url(../fonts/DM_Sans/DMSans-ExtraLight.ttf);

  /*?  Font Weight 200  ?*/
}

@font-face {
  font-family: "dms-light";
  src: url(../fonts/DM_Sans/DMSans-Light.ttf);

  /*?  Font Weight 300  ?*/
}

@font-face {
  font-family: "dms-regular";
  src: url(../fonts/DM_Sans/DMSans-Regular.ttf);

  /*?  Font Weight 400  ?*/
}

@font-face {
  font-family: "dms-medium";
  src: url(../fonts/DM_Sans/DMSans-Medium.ttf);

  /*?  Font Weight 500  ?*/
}

@font-face {
  font-family: "dms-semibold";
  src: url(../fonts/DM_Sans/DMSans-SemiBold.ttf);

  /*?  Font Weight 600  ?*/
}

@font-face {
  font-family: "dms-bold";
  src: url(../fonts/DM_Sans/DMSans-Bold.ttf);

  /*?  Font Weight 700  ?*/
}
@font-face {
  font-family: "dms-extrabold";
  src: url(../fonts/DM_Sans/DMSans-ExtraBold.ttf);

  /*?  Font Weight 800  ?*/
}

/* =====  Root Variables  ===== */

:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-gradient: linear-gradient(135deg, #868cff 0%, #4318ff 100%);
  --primary-color: #4318ff;
  --light-green: #05cd99;
  --red: #e31a1a;
  --bg-color:#f4f7fe;
  --grey200:#F6F8FD;
  --grey300:#F4F7FE;
  --grey400:#E9EDF7;
  --grey500: #8f9bba;
  --grey600: #a3aed0;
  --grey700: #707eae;
  --grey900: #1b3674;
}

/* =====SideBAr  Start  Section  ===== */
.side-bar {
  height: 100vh;
  padding: 0;
  position: relative;
  background-color: var(--white-color);
}
.side-bar .logo{
  padding: 45px 35px 35px 25px;
  border-bottom:2px solid var(--grey300);

}
.side-bar .logo img {
  width: 143px;
  height: 44px;
}
.sidebar-nav {
  padding-left: 35px;
  padding-right: 35px;
  flex: auto;
}
.sidebar-nav .nav-link{
  padding: 10px;
  border-radius: 5px;
  gap: 14px;
  color:var(--grey600);
  background-color: none;
  margin-bottom: 15px;
  width: 100%;
font-size: 16px;
font-family: "dms-medium";
cursor: pointer;
transition: .3s ease-in-out ;
 white-space: normal;           /* allow wrapping */
  word-break: break-word;        /* break long words if needed */
  overflow-wrap: anywhere;       /* handle unbreakable content */ 
&:hover{
  color: rgb(72, 70, 70);
}
 
}
.sidebar-nav .active{
  color: var(--white-color);
  background-color: var(--primary-color);
}
.side-bar .icon{
  fill:currentColor;
   width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.logout{
 gap: 14px;
padding: 10px;
position: fixed;
left: 20px;
bottom: 20px;
color: var(--grey600);
font-size: 16px;
font-family: "dms-medium";
cursor: pointer;
transition: .3s ease-in-out ;
&:hover{
  color: rgb(72, 70, 70);
}
}
/* =====SideBar  Section  End ===== */

/* ===== MAin   Section  End ===== */

#menuBar{
  transform: rotate(90deg);
  font-size: 20px;
  border: none;
  background-color: transparent !important;
}
.heading{
  padding: 10px 0px;
}
.greeting p{
  font-family:"dms-bold";
font-weight: 700;
font-size: 14px;
color: var(--grey700);
}
.greeting h1{
  font-family: "dms-bold";
font-weight: 700;
font-size: 34px;
color: var(--grey900);
}

.search-input {
    height: 50px;
    border-radius: 10px;
    padding-left: 40px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 341px;
    background-color: var(--white-color);
  }
.search-input::placeholder{
font-weight: 400;
font-size: 14px;
font-family: "dms-regular";
color: var(--grey500);
}

.search-icon {
  height: 13px;
  width: 13px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-40%);
}
/* seach button for small devices  */
.search-btn{
  display: flex;
  justify-content: center;
  align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    background-color: var(--white-color);
    width: 35px;
    height: 35px;
}
#searchModal .search-input{
  width: 100% !important;
}
#searchModal .close-btn-modal{
  border: none;
  background-color: transparent;
  padding: 10px;
  font-family: "dms-regular";
  color: var(--grey500);
}
#searchModal .search-btn-modal{
  border: none;
  background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-family: "dms-regular";
  color: var(--black-color);
  border-radius: 10px;
}

/* --- Main layout section started ---  */
.small-data{
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  position: relative;
}
.small-data p{
font-family: "dms-medium";
font-weight: 500;
font-size: 14px;
color: var(--grey600);
margin-bottom: 5px;
}
.small-data h5{
font-family: "dms-bold";
font-weight: 700;
font-size: 24px;
color: var(--grey900);
}
.spent-this-month img {
width: 88px;
  height: 40px;
}
.customer-icon-div{
  background: linear-gradient(135deg, #868CFF 0%, #4318FF 100%);
width: 56px;
height: 56px;
border-radius: 50%;
}
.new-clients p{
  font-family: "dms-bold";
font-weight: 700;
font-size: 16px;
color: var(--grey600);
}
.new-clients h6{
  font-family: "dms-bold";
font-weight: 700;
font-size: 18px;
color: var(--grey900);
}
.new-clients .graph-img{
  position: absolute;
  right: 0;
  width: 60px;
  height: 28px;
}
.earning-icon-div{
  background-color: var(--grey300);
width: 56px;
height: 56px;
border-radius: 50%;
}
.earning-icon-div img{
  width: 32px;
  aspect-ratio: 1;
}
.activity p{
font-size: 16px;
}
.activity img{
  width: 88px;
  height: 40px;
}
.active-main{
background: linear-gradient(135deg, #868CFF 0%, #4318FF 100%);

}
.active-main p{
color: var(--grey400) !important;
}
.active-main h5, .active-main h6{
  color: var(--white-color) !important;
}
 /* ------- main tab 1 css started----------- */
 .total-spent-chart{
  padding: 30px;
  background-color: var(--white-color);
  border-radius: 20px;
  height: 100%;
 }
  .total-spent-chart .header{
      margin-bottom: 20px;
  }
  .total-spent-chart .header h5{
      font-family: "dms-bold";
font-weight: 700;
font-size: 34px;
color: var(--grey900);
  }
  .total-spent-chart .header p{
    margin-bottom: 3px;
    font-family: "dms-medium";
font-weight: 500;
font-size: 14px;
color: var(--grey600);
  }
   .total-spent-chart .header button{
    background-color: var(--grey300);
    border: none;
    border-radius: 7px;
    padding: 5px;
    align-self: flex-start;
   }
  .profile-card{
    height: 100%;
    background-color: var(--white-color);
    border-radius: 20px;

  }
  .profile-card .pfp{
    border-radius: 50%;
    width: 130px;
    aspect-ratio: 1;
    background-color: var(--grey300);
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin: 29px auto 13px;
  }
  .profile-card .user-name{
    font-family: "dms-bold";
font-weight: 700;
font-size: 24px;
color: var(--grey900);
  }
  .profile-card .address{
    font-family: "dms-medium";
font-weight: 500;
font-size: 14px;
color: var(--grey600);
  }
  .profile-card .user-details{
    margin-top: 35px;
  }
  .profile-card .user-details p{
    color: var(--grey600);
    font-family: "dms-regular";
font-weight: 400;
font-size: 12px;
  }
  .profile-card .user-details h6{
    font-family: "dms-bold";
font-weight: 700;
font-size: 24px;
color: var(--grey900);
  }

.spend-month-card{
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 20px;
  height: 100%;
}
.spend-month-card p{
  color: var(--grey600);
  font-family: "dms-medium";
font-weight: 500;
font-size: 14px;
}
.spend-month-card h2{
  color: var(--grey900);
  font-family: "dms-bold";
font-weight: 700;
font-size: 34px;
}
.spend-month-card .status-text{
  font-family: "dms-bold";
font-weight: 700;
font-size: 16px;
color: var(--light-green);
}
.spend-month-card .gain-or-loss{
  color: var(--light-green);
  font-family: "dms-bold";
font-weight: 700;
font-size: 13px;
align-self: flex-start;
}
.transactions-card {
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 20px;
height: 100%;

}
.transactions-card .heading {
  font-family: "dms-bold";
font-weight: 700;
font-size: 20px;
color: var(--grey900);
margin-bottom: 18px;
}
.transactions-card .transactions-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: auto;
  gap: 15px;
  margin-bottom: 10px;
}
.transactions-card .transaction-logo {
width: 48px;
height: 48px;
border-radius: 50%;
background-color: var(--grey200);
display: flex;
align-items: center;
justify-content: center;
object-fit: cover;
}
.transactions-card #transaction-title{
  color: var(--grey900);
  font-family: "dms-bold";
font-weight: 700;
font-size: 16px;
margin-bottom: 0;
}
.transactions-card #transaction-time{
  margin-bottom: 0;
  color: var(--grey600);
  font-family: "dms-medium";
font-weight: 500;
font-size: 12px;
}
.transaction-viewmore{
  font-family: "dms-bold";
font-weight: 700;
font-size: 16px;
color: var(--primary-color) !important;
text-decoration: none;
}

.tasks-card .heading {
font-family: "dms-bold";
font-weight: 700;
font-size: 34px;
color: var(--grey900);
margin-bottom: 18px;
}

.transactions-card .task-left-border {
width: 4px;
height: 41px;
border-radius: 16px;
background-color: var(--primary-color);
}
/* =====MAin  Section  End ===== */


/* ::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: ;
}

::-webkit-scrollbar-thumb {
  background-color: ;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: ;
} */

/* =====  End Scrollbar Section  ===== */


/* Animations  */
