@import url(mediaqueries.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

/* =====  Font Family  ===== */

@font-face {
  font-family: "dms-thin";
  src: url(../fonts/DM_Sans/DMSans-Thin.ttf);

  /*?  Font Weight 100  ?*/
}

@font-face {
  font-family: "dms-extralight";
  src: url(../fonts/DM_Sans/DMSans-ExtraLight.ttf);

  /*?  Font Weight 200  ?*/
}

@font-face {
  font-family: "dms-light";
  src: url(../fonts/DM_Sans/DMSans-Light.ttf);

  /*?  Font Weight 300  ?*/
}

@font-face {
  font-family: "dms-regular";
  src: url(../fonts/DM_Sans/DMSans-Regular.ttf);

  /*?  Font Weight 400  ?*/
}

@font-face {
  font-family: "dms-medium";
  src: url(../fonts/DM_Sans/DMSans-Medium.ttf);

  /*?  Font Weight 500  ?*/
}

@font-face {
  font-family: "dms-semibold";
  src: url(../fonts/DM_Sans/DMSans-SemiBold.ttf);

  /*?  Font Weight 600  ?*/
}

@font-face {
  font-family: "dms-bold";
  src: url(../fonts/DM_Sans/DMSans-Bold.ttf);

  /*?  Font Weight 700  ?*/
}
@font-face {
  font-family: "dms-extrabold";
  src: url(../fonts/DM_Sans/DMSans-ExtraBold.ttf);

  /*?  Font Weight 800  ?*/
}

/* =====  Root Variables  ===== */

:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-gradient: linear-gradient(135deg, #868cff 0%, #4318ff 100%);
  --primary-color: #4318ff;
  --light-green: #05cd99;
  --red: #e31a1a;
  --grey300:#F4F7FE;
  --grey500: #8f9bba;
  --grey600: #a3aed0;
  --grey700: #707eae;
  --grey900: #1b3674;
}

/* =====SideBAr  Start  Section  ===== */
.side-bar {
  height: 100vh;
  padding: 0;
  position: relative;
  background-color: var(--white-color);
}
.side-bar .logo{
  padding: 45px 35px 35px 25px;
  border-bottom:2px solid var(--grey300);

}
.side-bar .logo img {
  width: 143px;
  height: 44px;
}
.sidebar-nav {
  padding-left: 35px;
  padding-right: 35px;
  flex: auto;
}
.sidebar-nav .nav-link{
  padding: 10px;
  border-radius: 5px;
  gap: 14px;
  color:var(--grey600);
  background-color: none;
  margin-bottom: 15px;
  width: 100%;
font-size: 16px;
font-family: "dms-medium";
cursor: pointer;
transition: .3s ease-in-out ;
 white-space: normal;           /* allow wrapping */
  word-break: break-word;        /* break long words if needed */
  overflow-wrap: anywhere;       /* handle unbreakable content */ 
&:hover{
  color: rgb(72, 70, 70);
}
 
}
.sidebar-nav .active{
  color: var(--white-color);
  background-color: var(--primary-color);
}
.side-bar .icon{
  fill:currentColor;
   width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.logout{
 gap: 14px;
padding: 10px;
position: fixed;
left: 20px;
bottom: 20px;
color: var(--grey600);
font-size: 16px;
font-family: "dms-medium";
cursor: pointer;
transition: .3s ease-in-out ;
&:hover{
  color: rgb(72, 70, 70);
}
}
/* =====SideBar  Section  End ===== */

/* ===== MAin   Section  End ===== */

#menuBar{
  transform: rotate(90deg);
  font-size: 20px;
  border: none;
  background-color: transparent !important;
}

/* =====MAin  Section  End ===== */


/* ::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: ;
}

::-webkit-scrollbar-thumb {
  background-color: ;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: ;
} */

/* =====  End Scrollbar Section  ===== */


/* Animations  */
